{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="note-wrapper">
    
        {% for note in notes %}
    
        <div class="note">
            <p>
                
                
                    @{{ note.user.username }}

                    <h3>{{ note.title }}</h3>
                    <p>{{ note.text }}</p>
                
                
            </p>
            
        </div>

        {% endfor %}

    

    
</div>

{% else %}

    <h2 class="please-login">
        <a href="{% url 'login' %}">Please login to see other users' notes!</a>
    </h2>


{% endif %}

{% endblock %}